<header>
    <nav>
        <a href="/home">Home</a>
        <a href="/add-book">Add Book</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/add-cookie">Add Cookie</a>
        <a href="/show-cookies">Show Cookies</a>
        <a href="/manage-users">Operations Demo</a>
    </nav>
    <hr />
</header>
