<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
</head>
<body>
    <%- include('header') %>
    <h1>Welcome to the Home Page</h1>
    <p>Navigate through the links provided in header to explore the functionalities.</p>
    <%- include('footer') %>
</body>
</html>
